body {
  color: rgb(0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
  font-family:Arial, Helvetica, sans-serif!important;
}

.ui.inverted.pointing.menu .active.item:after {
  background-color: white !important;
}

/* blockquote styles comes from bootstrap */
blockquote {
  padding: 0.6rem 1rem 0.4rem;
  margin: 0 0 0.8rem;
  border-left: 5px solid #eeeeee;
}
blockquote p {
  line-height: 1.2rem;
  margin-bottom: 0.3rem;
  text-align: start !important;
}
blockquote p:last-child {
  margin-bottom: 0;
}
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0;
}
blockquote footer,
blockquote small,
blockquote .small {
  margin-bottom: 0.5rem;
  display: block;
  font-size: 80%;
  line-height: 1.42857;
  color: #000000;
  padding: 0;
}
blockquote footer:before,
blockquote small:before,
blockquote .small:before {
  content: "— ";
}
blockquote cite:before {
  content: "«";
}
blockquote cite:after {
  content: "»";
}

.small{
  font-size: 20px;
}

.small1 {
  font-size: 20px;
}

.cap{
  font-size: 26px;
}

@media (max-width: 1000px) {
  .small1 {
    font-size: 16px;
  }
  .cap{
    font-size: 22px;
  }
}

@media (max-width: 770px) {
  .small1 {
    font-size: 14px;
  }
  .cap{
    font-size: 18px;
  }
}

@media (max-width: 650px) {
  .small1 {
    font-size: 12px;
  }
  .cap{
    font-size: 16px;
  }
}

@media (max-width: 470px) {
  .small1 {
    font-size: 10px;
  }
  .cap{
    font-size: 12px;
  }
}



.big{
  font-size: 28px;
}


.sbig{
  font-size: 32px;
}

.bold{
  font-weight: bold;
}

.yellow{
  background-color: rgb(254,248,4);
}

.inline{
  display: inline;
}

.list-text{
  margin-left: 30px;
}

.underline{
  display: inline;
  text-decoration: underline;
  text-decoration-skip-ink:none;
}
.chinese-text{
  font-size: 44px;
  font-weight: bold;
  display: inline;
  font-family: 'Ma Shan Zheng', cursive;
}
.fl4big{
  font-size: "34px"!important;
  padding-top: "-10px"!important; 
}

.close2top{
  margin-top: 0px;
  padding-top: 0px;
}

.far2top{
  margin-top: 10px;
}

.close2bottom{
  margin-bottom: 0px;
  padding-bottom: 0px;
}


.far2bottom{
  margin-bottom: 10px;
}
.color-picker{
  width: 30px;
  height: 30px;
  margin-top: 5px;
  border-radius: 5px;
  margin-right:10px
}

.selected{
  width: 34px;
  height: 34px;
  /* border:5px solid grey; */
  box-shadow: 0 0 5px 5px grey;
}

.span-container {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.left-side {
  position: absolute;
  top: 0;
  left: -17px;
  width: 100%;
  height: 100%;

  transform: skew(30deg);
  transform-origin: 0 0;
}
.border-side {
  position: absolute;
  top: 0;
  right: -4px;
  width: 100%;
  height: 100%;

  transform: skew(30deg);
  transform-origin: 0 0;
}
.right-side {
  position: absolute;
  top: 0;
  right: -9px;
  width: 100%;
  height: 100%;
 
  transform: skew(30deg);
  transform-origin: 100% 0;
}

.mobile-list{
  margin: 15px;
  font-size: large;
  color:white;
}

.color-badge{
  background-color:white;
  color:#000000;
  display: inline;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  font-size: 16px;
}

.footer-image{
  padding-left: 0px!important;
  padding-right: 0px!important;
  padding-bottom: 0px!important;
  padding-top: 0px!important;
  display: flex!important;
  justify-content: center; /* Align horizontally in center */
  align-items: center;
}

.footer-image-wrap{
  margin-left: 0px!important;
  margin-right: 0px!important;
  margin-bottom: 0px!important;
  margin-top: 0px!important;
  background-color: rgb(254,248,4);
}

.footer-each-image {
  max-height: 280px;
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.responsive-text {
  word-break:break-word;
  width: 100%;
  flex-wrap: wrap;
}

/* Set border collapse and size for the table */
.custom-table.ui.table {
  border-collapse: separate;
  border-spacing: 3px 0;
  border: 3px solid black; /* Add border around the edge of the table */
}

/* Set background color for the table cells */
.custom-table.ui.table .video-container {
  background-color: white;
  padding: 16px; /* Change the padding as per your requirement */
}

/* Vertical line color */
.custom-table.ui.table .video-container:not(:first-child) {
  border-left: 3px solid black;
}

/* Horizontal border color and size */
.custom-table.ui.table tr:not(:last-child) .video-container {
  border-bottom: 3px solid black;
}

/* Update the background color for cells with yellow background */
.custom-table.ui.table .video-container.yellow-background {
  background-color: rgb(254,248,4);
}
.video-container{
  width: 25%;
}
.video-container video {
  width: 100%;   /* Makes the video fill the width of its container */
  height: auto;  /* Adjusts the height to maintain the aspect ratio */
}

.aspect-ratio-16-9 {
  position: relative;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.aspect-ratio-16-9 video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}





